language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes main.cpp && ./a.out"
hidden = ["ccls"]
modules = ["cpp-clang14", "cpp-clang20"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run C++ Code"

[[workflows.workflow]]
name = "Run C++ Code"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "clang++ -std=c++17 main.cpp -o main && ./main"

[workflows.workflow.metadata]
outputType = "console"
